@font-face {
    font-family: "Nord Medium";
    src: url("./fonts/Nord Medium.otf") format("opentype");
}

@font-face {
    font-family: "Millennium-Round";
    src: url("./fonts/Millennium-Round.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: #eeebe2;
	min-height: 100%;
	font-family: 'Nord Medium';
}

.header {
display: flex;
justify-content: space-around;
}

.App {
/*	border: dashed 7px #e9c2a3;*/
}

.title, .about {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 70px;
	color: #5b5776;
	margin: 40px 0px 70px 50px;
	width: 50%;
}

.reliability {
	font-family: 'Millennium-Round';
	text-transform: none;
	letter-spacing: 7px;
	font-size: 60px;
	display: block;
}

.about {
	font-size: 15px;
	line-height: 30px;
	margin-top: 130px;
	margin-right: 10px;
}

.city-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
}


.paris {
	background: url('./images/paris.png');
	width: 217px;
	height: 331px;
}

.new-york {
	background: url('./images/nyc.png');
	width: 217px;
	height: 331px;
}

.pisa {
	background: url('./images/pisa.png');
	width: 217px;
	height: 331px;
}

.amsterdam {
	background: url('./images/amsterdam.png');
	width: 217px;
	height: 331px;
}

.barcelona {
	background: url('./images/barcelona.png');
	width: 217px;
	height: 331px;
}

.view-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #5b5776;
}

.view-header {
	text-align: center;
	color: #ffffff;
}

.view-header, .view-body {
	border-radius: 25px;
	border: 2px solid #E7B297;
	padding: 20px;
	width: 400px;
	height: 100px;
	margin: 30px;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: 20px;
}

.view-body {
	height: 400px;
	width: 600px;
	font-size: 30px;
	letter-spacing: 1px;
	font-family: 'Nord Medium';
	background-color: #f7f6f2;
}

.view-container img {
   width: 60px;
   height: auto;
}

.description p {
	font-size: 20px;
}

.detail {
	display: inline-block;
	margin: 20px 5px 5px 0px;
	font-size: 20px;
}

.view-body-top {
	display: flex;
	flex-direction: row;
}

.view-body-top h1 {
	font-size: 30px;
}


