@font-face {
    font-family: "Nord Light";
    src: url("./fonts/Nord Light.otf") format("opentype");
}

@font-face {
    font-family: "Millennium-Round";
    src: url("./fonts/Millennium-Round.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: #eeebe2;
	min-height: 100%;
	font-family: 'Nord Light';
}

.header {
display: flex;
justify-content: space-around;
}

.App {
/*	border: dashed 7px #e9c2a3;*/
}

.title, .about {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 80px;
	color: #5b5776;
	margin: 20px 0px 70px 30px;
	width: 50%;
}

.reliability {
	font-family: 'Millennium-Round';
	text-transform: none;
	letter-spacing: 1px;
	font-size: 60px;
	display: block;
}

.about {
	font-size: 15px;
	line-height: 30px;
	margin-top: 130px;
}

.city-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
}


.paris {
	background: url('./images/paris.png');
	width: 217px;
	height: 331px;
}

.new-york {
	background: url('./images/nyc.png');
	width: 217px;
	height: 331px;
}

.pisa {
	background: url('./images/pisa.png');
	width: 217px;
	height: 331px;
}

.amsterdam {
	background: url('./images/amsterdam.png');
	width: 217px;
	height: 331px;
}

.barcelona {
	background: url('./images/barcelona.png');
	width: 217px;
	height: 331px;
}



